.img {
    height: 140px;
    width: 130px;
}

.square1 {
    background-color: #6E1329;
    animation: changeColor1 800ms infinite alternate;
}

.square2 {
    background-color: #1ba577;
    animation: changeColor2 800ms infinite alternate;
}

.square3 {
    background-color: #a36814;
    animation: changeColor3 800ms infinite alternate;
}

.square4 {
    background-color: #6D0B0B;
    animation: changeColor4 800ms infinite alternate;
}

@keyframes changeColor1{
     
  100% {
    background-color: #9d1e3e;
  }
}

@keyframes changeColor2{
  
  100% {
    background-color: #106649;
  }
}

@keyframes changeColor3{
  
  100% {
    background-color: #71470b;
  }
}

@keyframes changeColor4{

  100% {
    background-color: #9f1212;
  }
}

.square-clicked {
  background-color: #bd2249;
  animation: changeColor1 0s;
}

.square-clicked1 {
  background-color: #1fbd88;
  animation: changeColor1 0s;
}

.square-clicked2 {
  background-color: #c17b19;
  animation: changeColor1 0s;
}

.square-clicked3 {
  background-color: #bc1515;
  animation: changeColor1 0s;
}

.square-clicked4 {
  background-color: #1fbd88;
  animation: changeColor1 0s;
}

.square-clicked5 {
  background-color: #bd2249;
  animation: changeColor1 0s;
}