.btn {
    height: 60px;
    width: 150px;
    background-color: #bbbbbb;
    margin: 20px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    border-bottom: 5px solid #aaaaaa;
}

.btn:hover {
    background-color: #cccccc;
}

.btn:active {
    background-color: #aaaaaa;
    border-bottom: 5px solid #bbbbbb;
}